<section class="grid columns-1 columns-5-ns w-100 bg-black pa4 pa5-ns">

<div class="column-start-1-ns pb4">
	<a class="pointer pa2-ns" href="{{ base }}/index.html">
	<img class="glow w4 o-80" src="{{ base }}/assets/logo/logo-white.svg">
	</a>
</div>


<div class="column-start-4-ns pr3">
	<a class="glow no-underline white o-50 pb3 db f5 tracked" href="{{ base }}/about.html">About</a>
	<a class="glow no-underline white o-50 pb3 db f5 tracked" href="{{ base }}/collection.html">Collection</a>
	<a class="glow no-underline white o-50 pb3 db f5 tracked" href="{{ base }}/services.html">Services</a>
	<a class="glow no-underline white o-50 pb3 db f5 tracked" href="{{ base }}/stockists.html">Stockists</a>
	<a class="glow no-underline white o-50 pb3 db f5 tracked" href="{{ base }}/our-brides.html">Our brides</a>
</div>



	<div class="column-start-5-ns">
		<a class="glow no-underline white o-50 pb3 db f5 tracked" href="{{ base }}/contact.html">Contact</a>
		<a class="glow no-underline white o-50 pb3 db f5 tracked" href="{{ base }}/privacy-policy.html">Privacy policy</a>
		<!-- <a class="glow no-underline white o-50 pb3 db tracked" href="{{ site.baseurl }}facebook">Facebook</a> -->
		<a class="glow no-underline white o-50 pb3 db tracked" href="https://www.instagram.com/bonbride/?hl=en">Instagram</a>
		<!-- <a class="glow no-underline white o-50 pb3 db tracked" href="{{ site.baseurl }}pinterest">Pinterest</a> -->
	</div>

	
</section>

</div>


<script type="text/javascript">
	/* Open */
function openNav() {
  document.getElementById("nav").style.display = "grid";
}

/* Close */
function closeNav() {
  document.getElementById("nav").style.display = "none";
}
</script>

 <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
 <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
 <script type="text/javascript" src="slick/slick.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.slider').slick({
        dots: true,
		infinite: true,
		speed: 500,
		fade: true,
		cssEase: 'linear'
      });
    });
  </script>

</body>
</html>
