

<!-- The overlay -->
<div id="nav" class="fade-in fade-out w-100 h-100 fixed left-0 top-0 overflow-x-hidden bg-black z-3  columns-2 columns-2-ns pa5-ns pa4 dn">

  <!-- Overlay content -->
  <div class=" ">
  	<a class="dim white f3 link no-underline dib tracked w4" href="{{ base }}/index.html">
      <div class="w4 h3">
  		<img src="{{ base }}/assets/logo/logo-white.svg">
      </div>
  	</a>
  </div>


  <ul class="list column-start-1 column-start-2-ns column-end-3 tr pr2 nt7 nt1-ns pt5 pt0-ns">

	<!-- Button to close the overlay navigation -->
  	<a href="javascript:void(0)" class="white no-underline f2 dim closebtn " onclick="closeNav()">
  		<img class="w2 pb4" src="{{ base }}/assets/close.svg"></a>
  	
    <li><a class="pv3 dim white f3 link no-underline dib tracked" href="{{ base }}/about.html">About</a></li>
    <li><a class="pv3 dim white f3 link no-underline dib tracked" href="{{ base }}/collection.html">Collection</a></li>
    <li><a class="pv3 dim white f3 link no-underline dib tracked" href="{{ base }}/editorial.html">Editorial</a></li>
    <li><a class="pv3 dim white f3 link no-underline dib tracked" href="{{ base }}/our-brides.html">Our brides</a></li>
    <li><a class="pv3 dim white f3 link no-underline dib tracked" href="{{ base }}/services.html">Services</a></li>
	
	  <li><a class="pv3 dim white f3 link no-underline dib tracked" href="{{ base }}/stockists.html">Stockists</a></li>
  
    <li><a class="pv3 dim white f3 link no-underline dib tracked" href="{{ base }}/contact.html">Contact</a></li>

    <li><a class="avenir pb3 pt4 dim white f6 link no-underline dib tracked" href="https://www.instagram.com/bonbride/?hl=en">Instagram</a></li>

    <li><a class="avenir pv3 pt4 dim white f6 link no-underline dib tracked" href="mailto:pippacooke@bonbride.com">Email</a></li>
    <!--
    <li><a class="avenir pv3 dim white f6 link no-underline dib tracked" href="https://www.instagram.com/bonbride/?hl=en">Instagram</a></li>
    <li><a class="avenir pv3 dim white f6 link no-underline dib tracked" href="#">Facebook</a></li>
    -->
  </ul>

</div>


<!-- Open menu button -->
<a onclick="openNav()" class="bg-white-70 pa6 black br-pill fixed top-2 top-3-ns right-2 right-3-ns z-2 f5 link dim ph3 pv2 mb2 db black ttu tracked pointer">
MENU
</a>


