<!DOCTYPE html>

<html lang="{{ site.lang }}">

    <head>


        <meta name="author" content="">
        <meta name="keywords" content="wedding, bespoke, dresses, tailor, fashion, Understated, striking, dress,  women, pockets, full skirt, sheer sleeve, detail, design, craft, alternative, modern">
 
        <!-- COMMON TAGS -->
        <meta charset="utf-8">
        <title>Bon Bridé</title>
        <!-- Search Engine -->
        <meta name="description" content="Bespoke and ready-made wedding dresses">
        <meta name="image" content="https://bonbride.com/uploads/2018.11.26_BB_-1089-1.jpg">
        
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="Bon Bridé">
        <meta itemprop="description" content="Bespoke and ready-made wedding dresses">
        <meta itemprop="image" content="https://bonbride.com/uploads/2018.11.26_BB_-1089-1.jpg">
        <meta name="google-site-verification" content="_5YEzC5fu0LQiLT5AvpRt6gXpvoM6xARrKCRaWObefw" />
        
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Bon Bridé">
        <meta name="twitter:description" content="Bespoke and ready-made wedding dresses">
        <meta name="twitter:site" content="@bonbride">
        <meta name="twitter:creator" content="@bonbride">
        <meta name="twitter:image:src" content="https://bonbride.com/uploads/2018.11.26_BB_-1089-1.jpg">

        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta name="og:title" content="Bon Bridé">
        <meta name="og:description" content="Bespoke and ready-made wedding dresses">
        <meta name="og:image" content="https://bonbride.com/assets/logo/logo.jpg">
        <meta name="og:url" content="https://bonbride.com/">
        <meta name="og:site_name" content="Bon Bridé">
        <meta name="og:locale" content="en_UK">
        <meta name="og:type" content="website">

        <!-- Favicons etc -->
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
        <link rel="mask-icon" href="safari-pinned-tab.svg" color="#000000">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">

        {% include base.html %}


        {% if page.is_home %}
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        {% else %}
        <title>{{ page.title }} &#8211; {{ site.title }}</title>
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        {% if site.css == 'inline' %}
        <style>
            {% capture inline-styles %}
            {% include style.scss %}
            {% endcapture %}
            {{ inline-styles | scssify }}
        </style>
        {% else %}
        <link href="{{ base }}/css/style.css" rel="stylesheet">
        {% endif %}

    </head>
    {% include google-analytics.html %}
    {% include cookies.html %}


    <body class="sans-serif">

<div class="bg-black white pa5 fixed top-0 w50 br2">
    Site in development - Please bear with us :) 
</div>



    
