<header>
	<div class="relative">
		<div class="absolute z-1 vh-100 w-100 ">
			<div class="center flex items-center vh-100 w-50 mb5" style="pointer-events: none;">
				<img class="w-100" src="{{ base }}/assets/logo/logo-white-large.svg">
			</div>
		</div>

		<div class="cover bg-left-custom bg-center-l vh-100 slider">
			<div class="cover bg-left-custom bg-center-l vh-100"  style="background-image: url({{ base }}/uploads/home/bb_home-01.jpg)"></div>
			<div class="cover bg-left-custom bg-center-l vh-100"  style="background-image: url({{ base }}/uploads/home/bb_home-02.jpg)"></div>
			<div class="cover bg-left-custom bg-center-l vh-100"  style="background-image: url({{ base }}/uploads/home/bb_home-03.jpg)"></div>
			<div class="cover bg-left-custom bg-center-l vh-100"  style="background-image: url({{ base }}/uploads/home/bb_home-04.jpg)"></div>
		</div>

	</div>
</header>