<!-- Image 13 and 14 --->
<div class="mt4 mt6-ns ga2 ga5-ns grid columns-1 columns-2-m columns-6-l align-items-center">

	<div class="column-start-1 column-end-1-m column-end-3-l relative">
		<a class="dim no-underline black" href="{{ base }}/collection-01/{{ page.collection-url-13 }}">
			<img src="{{ base }}{{ page.image-13 }}">
		</a>
		<p class="f-headline absolute top-0 top--5-ns left-0 left--2-ns ma0">{{ page.cat-number-13 }}</p>
		<p class="avenir lh-copy tracked f6">{{ page.caption-13 }}</p>
	</div>

	<div class="mt4 mt0-ns column-start-2-m column-start-4-l column-end-7-l relative">
		<a class="dim no-underline black" href="{{ base }}/collection-01/{{ page.collection-url-14 }}">
			<img src="{{ base }}{{ page.image-14 }}">
		</a>
		<p class="f-headline absolute bottom-3 right-0 ma0">{{ page.cat-number-14 }}</p>
		<p class="avenir lh-copy tracked f6">{{ page.caption-14 }}</p>
	</div>
</div>