<!-- Image 11 and 12 --->
<div class="mt4 mt6-ns ga2 ga5-ns grid columns-1 columns-3-m columns-6-l align-items-center">

	<div class="column-start-1-ns column-end-4-m column-end-4-l relative">
		<a class="dim no-underline black" href="{{ base }}/collection-01/{{ page.collection-url-11 }}">
			<img src="{{ base }}{{ page.image-11 }}">
		</a>
		<p class="f-headline absolute top-0 top--5-ns left-0 left--2-ns ma0">{{ page.cat-number-11 }}</p>
		<p class="avenir lh-copy tracked f6">{{ page.caption-11 }}</p>
	</div>

	<div class="mt4 mt6-ns column-start-5-ns column-end-7-ns relative">
		<a class="dim no-underline black" href="{{ base }}/collection-01/{{ page.collection-url-12 }}">
			<img src="{{ base }}{{ page.image-12 }}">
		</a>
		<p class="f-headline absolute bottom-4 right-0 ma0">{{ page.cat-number-12 }}</p>
		<p class="avenir lh-copy tracked f6">{{ page.caption-12 }}</p>
	</div>
</div>


